/**************************************************/
/*********************THEME************************/
/**************************************************/

.theme_button {
  background-color:var(--background);
  border: none;
}

/**************************************************/
/*********************INSTALL**********************/
/**************************************************/

.install_button {
  border: none;
  /* box-shadow: var(--largeshadow); */
  background-color:blue;
  color: aliceblue;
  border-radius: 2rem;
  padding: 10px;
  padding-inline: 20px;
  cursor: pointer;
  min-width: 100px;
  font-size: 15px;
  min-height: 35px;
}