:root, html, body {
  --background:rgb(247, 240, 219);
  --panels:rgba(138, 126, 100, 0.2);
  --button: rgba(77, 48, 48, 0.877);
}

body {
  margin: 0px;
  padding: 5px;
  font-weight: 300;
  font-size: 14px;
  min-width: 220px;
}