:root, html, body {
  --color-fill-light: rgb(255, 255, 255);
  --color-text-base-light: rgb(20, 20, 20);
  --color-grid-light: rgb(248, 243, 229);
  --color-panel-light: rgb(219, 210, 186);
  --color-button-light: rgba(77, 48, 48);
  
  --color-fill-dark: rgb(25, 25, 25);
  --color-text-base-dark: rgb(243, 241, 228);
  --color-grid-dark: rgb(250, 245, 229);
  --color-panel-dark: rgba(122, 105, 66, 0.2);
  --color-button-dark: rgba(77, 48, 48, 0.877);
}

.dark {
  --background: var(--color-fill-dark);
  --foreground: var(--color-text-base-dark);
  --grid: var(--color-grid-dark);
  --panels: var(--color-panel-dark);
  --button: var(--color-button-dark)
}

.light {
  --background: var(--color-fill-light);
  --foreground: var(--color-text-base-light);
  --grid: var(--color-grid-light);
  --panels: var(--color-panel-light);
  --button: var(--color-button-light)
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
   /* background-color: var(--background);
  color: var(--foreground); */
  font-weight: 300;
  font-size: 14px;
}
