/************************************************/
/********************NAVBAR**********************/
/************************************************/

.navbar {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_left {
  /* background-color: var(--grid); */
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 30px;
  padding: 5px;
}

.navbar_right  {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  gap: 10px;
}

/*************************************************/
/*****************GRID_CONTAINER******************/
/*************************************************/

.grid_container {
  /* background-color: #4CAF50; */
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 colunas de tamanho igual */
  grid-template-rows: 1fr 1fr;    /* 2 linhas de tamanho igual */
  gap: 5px;
  width: 100%;
  height: calc(100svh - 70px)
  /* margin: 50px auto; */
}

.grid_item {
  background-color:var(--grid);
  /* garante que o conteúdo não expanda a célula */
  overflow: hidden;
  display: flex;
  gap: 5px
}

@media (max-width: 800px) {
  .grid_container {
    grid-template-columns: 1fr; /* uma coluna */
    grid-template-rows: repeat(4, 550px); /* quatro linhas fixas */
  }
}

@media (max-width: 600px) {
  .grid_item {
    flex-direction: column;
  }
}

/*************************************************/
/**********************[1, 1]*********************/
/*************************************************/

/******************LADO ESQUERDO******************/

.textarea_container_first {
  /* background-color: brown; */
  flex: 1;       /* ocupa o espaço disponível */
  min-height: 0; /* essencial para overflow em flex funcionar */
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.textarea_container {
  height: 100%;
  width: 100%;
}

.textarea {
  background-color: var(--grid);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  resize: none;
  padding: 5px;
  padding-top: 15px;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 14px;
  border: none;
}

/******************LADO DIREITO******************/

.textarea_container_second {
  /* background-color:var(--panels); */
  flex: 1;    
  min-height: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/******************LADO DIREITO******************/

/*PARTE SUPERIOR*/

.textarea_button_title {
  /* background-color: aqua; */
  height: 50px;
  min-height: 0;
  min-width: 0;
  display: flex;
}

/*palavras*/

.palavras_button_title {
  /* background-color: rgb(64, 156, 126); */
  display: flex;
  width: 100%;
  justify-content: center;
  flex: 1;
}

.palavras_button_title button {
  width: 100%;
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 400;
  border: none;
}

.palavras_button_title :hover{
  /* background-color: var(--panels) !important; */
  color:var(--foreground)!important;
  cursor: pointer;
}

.palavras_button_child.active {
  background-color: var(--grid);
  color:var(--foreground)
}

.palavras_button_child.inactive {
  background-color: var(--grid);  
  color:rgba(197, 145, 76, 0.493)
}

/*PARTE INFERIOR DE PALAVRAS*/

.suggestion_box {
  background-color:var(--panels);
  display: flex;
  flex: 1;
  min-height: 0; /* permite que os filhos façam overflow */
  gap: 5px;
  padding: 5px;
}

/*Lado esquerdo da PARTE INFERIOR DE PALAVRAS*/

.flag_box {
  /* background-color: var(--background); */
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 40px;
}

.flag_box button {
  /* background-color: var(--background); */
  border: none;
  height: 30px;
  width: 40px;
}

.flag_box :hover {
  background-color: var(--button) !important;
  color:var(--background)!important;
  cursor: pointer;
}

.flag_box_child.active {
  background-color: var(--button) !important;
  color:var(--background)!important;
}

.flag_box_child.inactive {
  background-color: var(--grid)
}

/*Lado direito da PARTE INFERIOR DE PALAVRAS*/

.suggestion_list_box {
  flex: 1;
  min-height: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.suggestions_button {
  /* background-color:aqua; */
  display: flex;
  gap: 5px;
}

.suggestions_button button {
  /* background-color: var(--grid); */
  height: 30px;
  width: 40px;
  border: none;
}

.suggestions_button :hover{
  background-color: var(--button) !important;
  color:var(--background)!important;
  cursor: pointer;
}

.suggestions_button_child.active {
  background-color: var(--button) !important;
  color:var(--background)!important;
}

.suggestions_button_child.inactive {
  background-color: var(--grid)
}

.suggestions_list_container {
  flex: 1;
  min-height: 0;  
  min-width: 0; 
  display: flex;
}

.suggestions_list {
  /* background-color: aqua; */
  flex: 1;             /* ocupa todo o container */
  overflow: auto;
}

/*PARTE INFERIOR DE PALAVRAS DE DICIONÁRIO*/

.dicio_box {
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.dicio_plain {
  background-color: var(--panels);
  flex: 1;
  height: 100%;
  box-sizing: border-box;  
  min-width: 0; 
  padding: 10px;
  overflow: auto;
}

.dicio_plain_title {
  height: 30px;
}

/*************************************************/
/**********************[2, 1]*********************/
/*************************************************/

.glossario_container {
  /* background-color: blue; */
  height: 100%;
  display: flex;
  width: 100%;
  gap: 5px;
}

@media (max-width: 600px) {
  .glossario_container {
    flex-direction: column;
  }
}

/******************LADO ESQUERDO******************/

.glossario_container_first {
  flex: 1;       /* ocupa o espaço disponível */
  min-height: 0; /* essencial para overflow em flex funcionar */
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.glossario_title {
  /* background-color: rgb(64, 156, 126); */
  height: 50px;
  display: flex;
  align-items: center;
}

.expressions_container {
  display: flex;
  flex-direction: column;
  flex: 1;          /* ocupa todo o espaço restante do pai */
  min-height: 0;    /* fundamental para overflow funcionar */
  min-width: 0;
  overflow-x: auto;
  overflow-y: auto;
}

.expression_itens {
  background-color: var(--grid);
  border: none;
  height: 20px;
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 300;
  cursor: pointer;
  text-align: left;
  padding: 0;
  display: block;
  max-width: 100%;
  overflow: auto;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/******************LADO DIREITO******************/

.glossario_container_second {
  flex: 1;       /* ocupa o espaço disponível */
  min-height: 0; /* essencial para overflow em flex funcionar */
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.definitions_panel {
  background-color: var(--panels);
  width: 100%;
  flex:1;
  min-height: 0; 
  overflow-y: auto;
  box-sizing: border-box;
  padding: 5px;
}

/*************************************************/
/**********************[1, 2]*********************/
/*************************************************/

.synonym_container {
  /* background-color: brown; */
  height: 100%;
  display: flex;
  width: 100%;
  gap: 5px;
}

@media (max-width: 600px) {
  .synonym_container {
    flex-direction: column;
  }
}

.shared_synonym_title {
  /* background-color: rgb(64, 156, 126); */
  height: 50px;
  display: flex;
  align-items: center;
}

.shared_synonym_div {
  /* background-color: aqua; */
  flex: 1;
  min-height: 0; 
  min-width: 0;
  overflow: auto;
}

.shared_synonym_itens {
  background-color: var(--grid);
  flex: 1; 
  min-height: 0; 
  min-width: 0;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
}

/******************LADO ESQUERDO******************/

.synonym_container_first {
  /* background-color: blueviolet; */
  flex: 1;       /* ocupa o espaço disponível */
  min-height: 0; /* essencial para overflow em flex funcionar */
  min-width: 0;
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 5px;
}

/*LEFT*/

.synonym_container_first_left {
  /* background-color: blueviolet; */
  flex: 1;       /* ocupa o espaço disponível */
  min-height: 0; /* essencial para overflow em flex funcionar */
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.synonym_itens {
  background-color:var(--grid);
  border: none;
  height: 20px;
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 300;
  cursor: pointer;
  text-align: left;
  padding: 0;
  display: block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/*RIGHT*/

.synonym_container_first_right {
  /* background-color: blueviolet; */
  flex: 1;       /* ocupa o espaço disponível */
  min-height: 0; /* essencial para overflow em flex funcionar */
  min-width: 0;
  display: flex;
  flex-direction: column;
}

/******************LADO DIREITO******************/

.synonym_container_second {
  /* background-color: blueviolet; */
  flex: 1;       /* ocupa o espaço disponível */
  min-height: 0; /* essencial para overflow em flex funcionar */
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.synonym_plain_text {
  background-color: var(--panels);
  flex: 1; 
  min-height: 0; 
  min-width: 0;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
}

/*************************************************/
/**********************[2, 2]*********************/
/*************************************************/

.analog_container {
  /* background-color: brown; */
  height: 100%;
  display: flex;
  width: 100%;
  gap: 5px;
}

@media (max-width: 600px) {
  .analog_container {
    flex-direction: column;
  }
}

.shared_analog_title {
  /* background-color: rgb(64, 156, 126); */
  height: 50px;
  display: flex;
  align-items: center;
}

.shared_analog_div {
  /* background-color: aqua; */
  flex: 1;
  min-height: 0; 
  min-width: 0;
  overflow: auto;
  height: 100%;
}

.shared_analog_itens {
  /* background-color:aqua; */
  flex: 1; 
  min-height: 0; 
  min-width: 0;
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
}

/******************LADO ESQUERDO******************/

.analog_container_first {
  /* background-color: blueviolet; */
  flex: 1;       /* ocupa o espaço disponível */
  min-height: 0; /* essencial para overflow em flex funcionar */
  min-width: 0;
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 5px;
}

/*LEFT*/

.analog_container_first_left {
  /* background-color: blueviolet; */
  flex: 1;       /* ocupa o espaço disponível */
  min-height: 0; /* essencial para overflow em flex funcionar */
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.analog_itens {
  background-color: var(--grid);
  border: none;
  height: 20px;
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 300;
  cursor: pointer;
  text-align: left;
  padding: 0;
  display: block;
  max-width: 100%;
  overflow: auto;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/*RIGHT*/

.analog_container_first_right {
  /* background-color: blueviolet; */
  flex: 1;       /* ocupa o espaço disponível */
  min-height: 0; /* essencial para overflow em flex funcionar */
  min-width: 0;
  display: flex;
  flex-direction: column;
}

/******************LADO DIREITO******************/

.analog_container_second {
  /* background-color: blueviolet; */
  flex: 1;       /* ocupa o espaço disponível */
  min-height: 0; /* essencial para overflow em flex funcionar */
  min-width: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.analog_button div {
  background-color: var(--panels);
  padding: 5px;
  display: flex;
  gap: 5px;
}

.analog_plain {
  background-color: var(--panels);
  flex: 1; 
  min-height: 0; 
  min-width: 0;
  overflow: auto;
  padding: 5px;
  max-width: 100%;
  white-space: nowrap;
}

.analog_button div button {
  background-color: var(--grid);
  height: 30px;
  width: 40px;
  border: none;
}

.analog_button div :hover{
  background-color: var(--button) !important;
  color:var(--background)!important;
  cursor: pointer;
}

.analog_button_child.active {
  background-color: var(--button) !important;
  color:var(--background)!important;
}

.analog_button_child.inactive {
  background-color: var(--grid)
}