/*********************************************/
/*******************HOME**********************/
/*********************************************/

.home {
  /* background-color: brown; */
  display: flex;
  gap: 5px
}

@media (max-width: 700px) {
  .home {
    flex-direction: column;
  }
}

/***************************************************/
/********************HOME LEFT**********************/
/***************************************************/

.home_left {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex:1
}

/*TEXTAREA*/

.textarea {
  background-color: var(--color-button-light);
  border: none;
  font-size: 16px;
  min-height: 250px;
  max-height: 250px;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 14px;
  min-width: 100%;
  max-width: 400px;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}

/*GLOSSÁRIO CONTAINER*/

.glossario_title {
  background: var(--color-button-light);
  height: 45px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.glossario_content {
  background: var(--color-button-light);
  display: flex;
}

/*EXPRESSIONS CONTAINER*/

.expressions_container {
  /* background-color: antiquewhite; */
  height: 300px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  flex:1;
}

.expressions_container > div > div {
  display: flex;
}

.expressions_container p {
  margin: 0;
}

.button {
  border: none;
  height: 20px;
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 300;
  cursor: pointer;
  padding: 0;
  text-align: left;
  display: block;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

/*DEFINITIONS CONTAINER*/

.definitions_container {
  background-color:var(--color-button-light);
  flex:1.4
}

.definitions_panel {
  background-color:var(--color-button-dark);
  padding: 10px;
  box-sizing: border-box;
  min-height: 295px;
  max-height: 295px;
  min-width: 150px;
  overflow: auto;
  margin: 5px;
}

.definitions_panel p {
  margin: 0;
}

.definitions_title {
  margin-bottom: 20px;
}

/****************************************************/
/********************HOME RIGTH**********************/
/****************************************************/

.home_rigth {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex:1
}

/*ANALOG CONTAINER*/

.analog_container {
  background-color: var(--color-button-light);
  height: 350px;
  display: flex;
  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.analog_container_1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.analog_container_2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

@media (max-width: 700px) {
  .analog_container {
    flex-direction: column;
    height: max-content;
  }
}

.analog_header {
  display: flex;
  gap: 5px;
}

.analog_header_1{
  /* background-color: aquamarine; */
  flex: 2;
  height: 30px;
  display: flex;
  align-items: center;
  min-width: 120px;
}

.analog_header_2{
  /* background-color: aquamarine; */
  flex: 2;
  display: flex;
  align-items: center;
  min-width: 120px;
}

.analog_header_3{
  /* background-color: aquamarine; */
  flex: 3;
  display: flex;
  gap: 5px;
}

@media (max-width: 700px) {
  .analog_header_3 {
    margin-top: 10px;
  }
}

.analog_button {
  /* background-color: var(--color-button-dark) !important; */
  border: 0px !important;
  height: 30px !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  width: 45px !important;
  font-family: "Ubuntu";
  font-weight: 450;
  font-size: 14px;
}

.analog_button.active {
  /* background-color: var(--color-mod-dark) !important; */
  text-decoration-line:underline !important;
}

.analog_groups {
  display: flex;
  gap: 5px;
  height: 300px;
}

.analog_groups_1 {
  flex: 2;
  /* background-color: aquamarine; */
  overflow: auto;
  min-width: 120px;
  height: 300px;
}

.analog_groups_2 {
  flex: 2;
  background-color: var(--color-button-dark);
  overflow: auto;
  min-width: 120px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
}

.analog_groups_2 p {
  margin: 0;
}

.analog_groups_3 {
  flex: 3;
  background-color:var(--color-button-dark);
  overflow: auto;
  min-width: 225px;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
}

/*SYNONYM CONTAINER*/

.synonym_container {
  height: 250px;
  background-color: var(--color-button-light);
  gap: 5px;
}

.synonym_title {
  background-color: aquamarine;
  display: flex;
  align-items: center;
  height: 45px;
  padding: 10px;
  box-sizing: border-box;
}

.synonym_header {
  /* background-color: antiquewhite; */
  display: flex;
  gap: 5px;
  height: 45px;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
  box-sizing: border-box;
}

.synonym_header_1{
  background-color: aquamarine;
  flex: 2;
}

.synonym_header_2{
  background-color: aquamarine;
  flex: 2;
  padding: 10px;
  box-sizing: border-box;
}

.synonym_header_3{
  /* background-color: aquamarine; */
  flex: 4;
  padding: 10px;
  box-sizing: border-box;
}

.synonym_groups {
  display: flex;
  padding: 10px;
  padding-top: 0;
  box-sizing: border-box;
  gap: 5px;
  height: 210px;
}

.synonym_groups_1 {
  /* background-color:aquamarine; */
  flex:2;
  padding-top: 10px;
  box-sizing: border-box;
  max-width: 150px;
  overflow: auto;
}

.synonym_groups_1 > div > button {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.synonym_groups_1 p {
  margin: 0;
}

.synonym_groups_2 {
  background-color:var(--color-button-dark);
  flex:2;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.synonym_groups_2 > div {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.synonym_groups_2 p {
  margin: 0;
}

.synonym_groups_3 {
  background-color:var(--color-button-dark);
  flex:4;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}



