/*********************************************/
/*******************HOME**********************/
/*********************************************/

.home {
  /* background-color: brown; */
  display: flex;
  gap: 5px
}

@media (max-width: 700px) {
  .home {
    flex-direction: column;
  }
}

.home > div {
  /* background-color: aquamarine; */
  flex: 1;
}

/***************************************************/
/********************HOME LEFT**********************/
/***************************************************/

.home_left {
  display: flex;
  flex-direction: column;
  gap: 5px
}

/*TEXTAREA*/

.textarea {
  background-color: var(--color-button-light);
  border: none;
  font-size: 16px;
  min-height: 250px;
  max-height: 250px;
  font-family: "Ubuntu";
  font-weight: 300;
  font-size: 14px;
  min-width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

/*DEFINITIONS*/

.dynamic_content {
  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
}

.dynamic_content > div {
  flex: 1;
}

/*GLOSSÁRIO CONTAINER*/

.glossario_container {
  min-height: 340px;
  max-height: 340px;
  min-width: 200px;
  overflow: auto;
  background: var(--color-button-light);
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}

.glossario_container > div > div {
  display: flex;
}

.glossario_container p {
  margin: 0;
}

.button {
  border: none;
  height: 20px;
  font-size: 14px;
  font-family: "Ubuntu";
  font-weight: 300;
  cursor: pointer;
  padding: 0;
  min-width: 95%;
  text-align: left;
  overflow: hidden;
}

/*DEFINITIONS CONTAINER*/

.definitions_container {
  background-color:var(--color-button-light);
}

.definitions_panel {
  background-color:var(--color-button-dark);
  padding: 10px;
  box-sizing: border-box;
  min-height: 330px;
  max-height: 330px;
  min-width: 200px;
  overflow: auto;
  margin: 5px;
}

.definitions_panel p {
  margin: 0;
}

.definitions_title {
  margin-bottom: 20px;
}

/****************************************************/
/********************HOME RIGTH**********************/
/****************************************************/

.home_rigth {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  gap: 5px
}

/*SYNONIM CONTAINER*/

.synonim_container {
  height: 250px;
  background-color: var(--color-button-light);
}

/*ANALOG CONTAINER*/

.analog_container {
  background-color: var(--color-button-light);
  height: 340px;
  display: flex;
  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.analog_container_1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.analog_container_2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 800px) {
  .analog_container {
    flex-direction: column;
    height: max-content;
  }
}

.analog_header {
  display: flex;
  gap: 5px;
}

.analog_header_1{
  background-color: aquamarine;
  flex: 1.5;
  height: 30px;
  display: flex;
  align-items: center;
}

.analog_header_2{
  background-color: aquamarine;
  flex: 2;
  display: flex;
  align-items: center;
}

.analog_header_3{
  background-color: aquamarine;
  flex: 3;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
  gap: 5px;
}

.analog_button {
  background-color: var(--color-button-dark) !important;
  border: 0px !important;
  height: 30px !important;
  cursor: pointer !important;
  border-radius: 5px !important;
  width: 45px !important;
}

.analog_button.active {
  background-color: var();
  color: var();
}

.analog_button.inactive {
  background-color: var();
  color: var();
}

.analog_groups {
  display: flex;
  gap: 5px;
  height: 285px;
}

.analog_groups :nth-child(1){
  flex: 1.5;
  background-color: aquamarine;
  overflow: auto;
}

.analog_groups :nth-child(2){
  flex: 2;
  background-color: aquamarine;
  overflow: auto;
}

.analog_groups :nth-child(3){
  flex: 3;
  background-color: aquamarine;
  overflow: auto;
  min-width: 225px;
}



